.resetBlock {
  background: rgba(124, 122, 121, 0.10);
}
.tab-content {
    padding: 5%;
}
#signup > h1 {
    text-align: center;
}
.group {
    margin-bottom: 5%;
}
button {
    border-radius: 4px !important;
}
